<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Menyembunyikan ekstensi .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^([^/]+)/$ $1.php

    # Mengarahkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ adminpanel/index.php/$1 [L]
</IfModule>